*{
    margin: 0; padding: 0;
}



#first{
    height: 200px;
    width: 200px;
    background-color: chocolate;
    font-size: 30px;
}

#second{
    background-color: bisque;
    width: 50%;
    height: 30%;
}